---
blog_title: Give 'em Vim
author: travis johnson

twitter_user: travisj
tweet_count: 3
show_replies: false

delicious_user: travisj
delicious_count: 3

full_url: http://vim.travisj.org
disqus_short_name: giveemvim

google_custom_search_id:
google_analytics_tracking_id:

---

!!! 5
%html
  = include "head.haml"
  %body(id="#{(page.respond_to?(:body_id) ? page.body_id : nil)}")
    #header
      #navigation
        %a.menu(href="/feed") Feed
        %a.menu(href="/about.html") About
        %a.menu(href="/archives.html") Archive
      %h1
        %a(href="/")= page.blog_title
    #content
      #bar
        %div.bar-section
          %p
            quick about here
      #entries
        .content= preserve rp(content)
