---
layout: default
title: About Me
---
/ use the :mardown filter if you want to write pages with Markdown
:markdown
  # About Me
  
  My name is Travis Johnson and I have been using Vim everyday in my personal and professional web development everyday for the last few years. Prior to Vim, I was a die-hard TextMate user. Learning Vim and never having to touch the mouse changed everything for me. It was fun to type and develop using Vim. I also enjoy finding new plugins on Github.

  I am active on the web elsewhere, but didn't have a good place to share good Vim tips and tricks, so I created this blog. You can also find me:

  * [my personal blog](http://travisj.org)
  * [my tumblog](http://me.travisj.org)
  * [twitter](http://twitter.com/travisj)
  * [facebook](http://facebook.com/travisj)
  * [github](http://github.com/travisj)
